* {
  font-family: 'Muli', sans-serif;
}
ul {
  list-style-type: none;
}
a: hover {
  text-decoration: none;
}
li {
  display: inline-block;
  cursor: pointer;
}
.container-fluid{
  padding-right: 6% !important;
  padding-left: 6% !important;

}
.marg-top{
  margin-top: 50px;
}
