.filter {
  /* height: 100%; */
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.filter p {
  text-align: left;
}
.card-area {
  margin-top: 20px;
}
.btn-fix {
  margin-left: 20px;
}
.th-fix {
  width: 15%;
  padding-left: 30px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f0fdf6;
}
.text-fix {
}
.card-hover:hover {
  background-color: #A7B6C1 !important;
}
.title {
  font-size: 14px;
}
.sm-marg-left {
  margin-left:20px;
}
.list-title-fix {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: bold;
  margin-left:20px;
}

.title-fix {
  margin-bottom: 5px;
}
.header-fix {
  background-color: white!important ;
  /* border-bottom: 0px !important; */
  border-bottom: 1px solid #00000020;
}
.pagination {
  background-color: white;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.page-item.active .page-link {
  background-color: #419ad1 !important;
}
.sm-padding-left {
  padding-right:100px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
