.filter {
  /* height: 100%; */
  padding-left: 15px !important;
  padding-right: 15px !important;
  margin-right: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.filter p {
  text-align: left;
}
.card-area {
  margin-top: 20px;
}
.btn-fix {
  margin-left: 20px;
}
.th-fix {
  width: 15%;
  padding-left: 30px !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #f0fdf6;
}
.text-fix {
}
.card-hover:hover {
  background-color: #f0fdf6
}
.title {
  font-size: 14px;

}
.list-title-fix {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: bold;
}

.title-fix {
  margin-bottom: 5px;
}
.header-fix {
  background-color: white!important ;
  border-bottom: 0px !important;
}
