* {
  font-family: 'Muli', sans-serif;
}
.Header {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  /* margin-left: 20px; */
  /* border-bottom: 2px solid black; */

}
a {
  color:#329feb
}
a:hover {
  color:#2781bf;
}

.fix {
  margin-left: 0px;
  margin-right: 0px;
}
.col-fix {
  padding-left: 10px;
  padding-right: 10px;
}
.badge {
  margin-left: 10px;
}
.logo {
  height: 100px;
  width: 288px;
  padding-top: 20px;
  float: left;
  padding-left: 50px;
}
.full-card {
  width: 50rem !important;
  display: grid;
}
.card {
  margin-bottom: 10px;
}
.card-header {
  /* background-color: #c6efd0; */
}
.card-img-top {
  /* box-shadow:  0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15); */
}
.card-title {
  margin-bottom: 0px;
}
.c50px {
  height: 0px;
}
.sm-margin-top {
  margin-top: 20px;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.border-info: {
  border: 1px solid #2dcee3 !important;
}
.badge-dark {
  background-color: #515961;
}
.sm-padding-bottom {
  padding-bottom: 12px;
}
.btn-color-fix {
  color:#329feb;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #33b5e5 !important;
    border-color: #33b5e5;
}
.btn-outline-primary, .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
    border-color: #71c2fb;
}
.btn-outline-primary {
  color: #5abbea;
  border-color: #71cefb;
}
.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:visited {
  background-color: #71c2fb;
}
.badge {
  font-size: 11px;
  vertical-align: top;
  top: 6px;
  position: relative;
}
.clip {
  height: 261px;
  object-fit: cover;
  object-position:0px -570px;
  animation: ltr 8s alternate;
}
@keyframes ltr {
  0% {
    object-position: 0% 0%;
  }
  25% {
    object-position: 20% 0%;
  }
  100% {
    object-position: 100% 100%;
  }
}
.no-margin-bottom {
  margin-bottom: 0px;
  margin-top: 30px;
}
.lg-margin-bottom {
  margin-bottom: 20px;
}
.xx {
  margin-top: 18px;
}
.no-padding-bottom {
  padding-bottom: 5px;
}
.btn-link {
  margin-left: -10px
}
.logout {
  height: 100px;
  width: 288px;
  float: right;
  text-align: right;
  padding-top: 70px;
  padding-right: 40px
}
.analyze-fix {
  margin-top: -10px;
}
.bold {
  font-weight: bold;
  /* font-size: 20px; */
}

.TK1 {
  background-color: #56d49e;
  /* opacity:1.3; */
}
.XU4 {
    background-color: #cedc2a;
    /* opacity:1.3; */
}
.RPI {
    background-color: #ecbfbf;
    /* opacity:1.3; */
}
.DELL {
    background-color: #99d8f5;
    /* opacity:1.3; */
}
.TK1Light {
  background-color: #d4f7e8;
  opacity:1.0;
  font-weight: 550;
}
.XU4Light {
  background-color: #eaecd3;
  opacity:1.0;
  font-weight: 550;
}
.RPILight {
  background-color: #ecbfbf;
  opacity:1.0;
  font-weight: 550;
}
.DELLLight {
  background-color: #d3edf9;
  opacity:1.0;
  font-weight: 550;
}
.nodes-title {
  text-align: left;
  padding-left: 100px;
  height:10px
  /* padding-left: 45%; */
}
.node {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.node-detail {
  /* height: 130px; */

  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */

}
.nodes-area:hover {
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
}
.node-title {
  padding-left: 120px;
  width: 200px;
  float: left;
  /* height: 100px; */

}
.node-title h2 {
  font-size: 35px;
  margin-top: 40px;
}
