
<div class="container">
  <div class="Header border-bottom">
    <div class="logo">
      <img src="assets/logo.png" >
    </div>
    <div class="logout">
      <p>Hi&nbsp {{username}} &nbsp  <a href="#/login">   Logout</a></p>
    </div>
  </div>
</div>
<div class="container">
    <div class="nodes-title">

    </div>
    <div class="card-columns ">
      <!-- <div class="card">
        <div class="node-detail clearfix">
          <div class="node-title">
            <h2> 12334</h2>
          </div>
        </div>
        <div class="node-action"></div>
      </div> -->
      <div class="card">
        <div class="card-header bold RPI">12334<span class="badge badge-secondary">RPI</span></div>
        <div class="card-body">
          <!-- <p class="card-text">Platfrom: RPI  </p> -->
          <p class="card-text">IP address: 10.70.35.35</p>

          <p class="card-text"><small class="text-muted">Last online 3 mins ago</small></p>
          <!-- <a href="#" class="btn btn-light analyze-fix float-right">Analyze</a>
          <a href="#" class="card-link">Result</a> -->
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
<div class="collapse.show" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
      </div>
    </div>
      <div class="card">
        <div class="card-header bold TK1">12334</div>
        <div class="card-body">
          <!-- <p class="card-text">Platfrom: RPI  </p> -->
          <p class="card-text">IP address: 10.70.35.35</p>
          <p class="card-text"><small class="text-muted">Last online 3 mins ago</small></p>
      </div>
    </div>
      <div class="card">
        <div class="card-header bold XU4">12334</div>
        <div class="card-body">
          <!-- <p class="card-text">Platfrom: RPI  </p> -->
          <p class="card-text">IP address: 10.70.35.35</p>
          <p class="card-text"><small class="text-muted">Last online 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
