
<div class="container">
  <div class="Header border-bottom">
    <div class="logo">
      <img src="assets/logo.png" >
    </div>
    <div class="logout">
      <p>Hi&nbsp {{username}} &nbsp  <a href="#/login">   Logout</a></p>
    </div>
  </div>
</div>
<div class="container">
    <div class="nodes-title">

    </div>
    <div class="row ">
      <div class="col-sm-4" ng-repeat="node in nodes">
        <div class="card">
          <div class="card-header bold " style="font-size: 20px;">{{node.UnitID}}<span class="badge badge-dark"  style="font-weight:400;">{{node.Hardware.Platform}}</span></div>
          <div class="card-body no-padding-bottom">
            <p class="card-text no-margin-bottom">IP address: {{node.Software.IP_address}}</p>
            <p class="card-text lg-margin-bottom"><small class="text-muted">Last online 3 mins ago</small></p>
            <p>
              <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" ng-click="selectNode($event)" data-target="#collapse{{node.UnitID}}" aria-expanded="false" aria-controls="collapseExample">
                View last status
              </button>
              <button class="btn  btn-light float-right" style="margin-top: -7px;" >Analyze</button>

            </p>
            <div class="collapse" id="collapse{{node.UnitID}}">
            <div class="card card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
        </div>
      </div>


</div>

</div>


</div>
