
<div class="container">
  <div class="Header border-bottom">
    <div class="logo">
      <img src="assets/logo.png" >
    </div>
    <div class="logout">
      <p>Hi&nbsp {{username}} &nbsp  <a href="#/login">   Logout</a></p>
    </div>
  </div>
</div>
<div class="container">
    <div class="nodes-title">

    </div>
    <div class="row ">
      <div class="col-sm-4" ng-repeat="node in nodes" ng-value="{{$index}}">
        <div class="card">
          <!-- <div class="card-img-top ">
            <img class="fixheight sor" src="assets/{{'0' + ($index + 1) +'.jpg'}}" alt="Card image cap">
          </div> -->
          <img class="card-img-top" src="assets/{{'0' + ($index + 1) +'.jpg'}}" alt="Card image cap">
          <!-- <div class="card-header bold " style="font-size: 20px;">{{node.UnitID}}<span class="badge badge-dark"  style="font-weight:400;">{{node.Hardware.Platform}}</span></div> -->
          <div class="card-body no-padding-bottom">
            <h3 class="card-title">{{node.UnitID}}<span class="badge badge-dark">{{node.Hardware.Platform}}</span></h3>
            <!-- <p class="card-text no-margin-bottom">IP address: {{node.Software.IP_address}}</p> -->
            <p class="card-text lg-margin-bottom"><small class="text-muted">Last online 3 mins ago</small></p>
            <div class="c50px"></div>
          </div>
          <div class="card-body text-muted">
              <button class="btn btn-link btn-sm ele" type="button" data-toggle="collapse" ng-click="selectNode($event)" data-target="#collapse{{node.UnitID}}" aria-expanded="false" aria-controls="collapseExample">
                More details >>
              </button>
              <button class="btn btn-sm btn-outline-info border-info float-right" style="margin-top: 0px; margin-left: 5px;" >Result</button>
              <button class="btn btn-sm btn-outline-success float-right" style="margin-top: -0px;" >Analyze</button>
            <div class="collapse xx" id="collapse{{node.UnitID}}">
            <div class="card card-body">
              <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-{{node.UnitID}}home-tab" data-toggle="tab" href="#nav-{{node.UnitID}}home" role="tab" aria-controls="nav-{{node.UnitID}}home" aria-selected="true">Software</a>
                  <a class="nav-item nav-link" id="nav-{{node.UnitID}}profile-tab" data-toggle="tab" href="#nav-{{node.UnitID}}profile" role="tab" aria-controls="nav-{{node.UnitID}}profile" aria-selected="false">Hardware</a>
                  <a class="nav-item nav-link" id="nav-{{node.UnitID}}contact-tab" data-toggle="tab" href="#nav-{{node.UnitID}}contact" role="tab" aria-controls="nav-{{node.UnitID}}contact" aria-selected="false">Test</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-{{node.UnitID}}home" role="tabpanel" aria-labelledby="nav-{{node.UnitID}}home-tab">
                  <table class="table table-hover sm-margin-top">
                    <tbody>
                      <tr ng-repeat="(key, val) in node.Software">
                        <th >{{key}}</th>
                        <td>{{val}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-{{node.UnitID}}profile" role="tabpanel" aria-labelledby="nav-{{node.UnitID}}profile-tab">
                  <table class="table table-hover sm-margin-top">
                    <tbody>
                      <tr ng-repeat="(key, val) in node.Hardware">
                        <th >{{key}}</th>
                        <td>{{val}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="tab-pane fade" id="nav-{{node.UnitID}}contact" role="tabpanel" aria-labelledby="nav-{{node.UnitID}}contact-tab">
                  <table class="table table-hover sm-margin-top">
                    <tbody>
                      <tr ng-repeat="(key, val) in node.Test">
                        <th >{{key}}</th>
                        <td>{{val}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>


</div>

</div>


</div>
